:root {
  /* 2.1.1 Fonts */
  --default-font: "XiaoHanZhuanshu","LXGW WenKai GB",Neucha, Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
  --font-heading: var(--default-font);
  --mermaid-font: var(--default-font);
  --reveal-font: var(--default-font);
  --font-monospace: 'Space Mono', 'Source Code Pro', monospace;
  --font-heading: Birthstone;
  /* Only active within Publish spaces; body styling overrides this within Obsidian */
  --editor-font-size: 16px;

  /* 2.1.2 Color Palette */
  --color-blacker: hsl(270, 10%, 5%);
  --color-blacker-hsl: 270, 10%, 5%;
  --color-black: hsl(270, 10%, 10%);
  --color-black-hsl: 270, 10%, 10%;
  --color-grey-00: hsl(270, 10%, 12.5%); /* dark mode */
  --color-grey-01: hsl(270, 10%, 15%);
  --color-grey-02: hsl(270, 10%, 17.5%);
  --color-grey-03: hsl(270, 10%, 20%);
  --color-grey-04: hsl(270, 8%, 35%); /* text */
  --color-grey-05: hsl(270, 8%, 50%);
  --color-grey-06: hsl(270, 13%, 65%);
  --color-grey-07: hsl(270, 10%, 72.5%); /* light mode */
  --color-grey-08: hsl(270, 10%, 75%);
  --color-grey-09: hsl(270, 10%, 77.5%);
  --color-grey-10: hsl(270, 10%, 80%);

  --color-hot-pink: hsl(330, 85%, 47.2%);

  --color-red-pink: hsl(340, 85%, 48.3%);

  --color-shadowy-gold: hsl(44, 100%, 29.3%);
  --color-magic-gold: hsl(37, 100%, 50%);

  --color-green: hsla(80, 70%, 28.5%, 0.95);
  --color-green-hsl: 80, 70%, 28.5%;

  --color-blue: hsl(180, 100%, 26%);

  --color-teal: hsl(165, 100%, 26%);

  --color-cyan: hsla(175, 100%, 50%);
  --color-cyan-hsl: 175, 100%, 50%;
  --color-cyan-desat: hsla(175, 45%, 50%);
  --color-cyan-desat-hsl: 175, 45%, 50%;

  --color-deep-indigo: hsl(250, 80%, 3.5%);
  --color-deep-indigo-hsl: 250, 80%, 3.5%;

  --color-deep-purple: hsl(270, 100%, 10%);
  --color-deep-purple-hsl: 270, 100%, 10%;
  --color-purple-1: hsl(270, 60%, 40%);
  --color-purple-2: hsl(270, 60%, 45%);
  --color-purple-3: hsl(270, 65%, 58.8%);
  --color-purple-4: hsl(270, 100%, 61.5%);
  --color-pale-purple: hsl(270, 100%, 70%);
  --color-pale-purple-hsl: 270, 100%, 70%;

  --color-bold: hsl(12, 65%, 62%);
  --color-italic: hsl(346, 64%, 57%);

  /* 2.1.3 Various Settings */
  --text-stroke-width: 0.2px;
  --link-footlink-stroke-width: 0.1px;
  --heading-stroke-width: 0.01px;
  --link-external-color: var(--color-cyan-desat);
  --link-internal-color: var(--color-magic-gold);
  --link-internal-unresolved-color: var(--color-shadowy-gold);
  --link-footlink-color: var(--color-purple-3);
  --link-url-string-color: var(--color-teal);

  --transition-duration-instant: 0.05s;
  --transition-duration-fast: 0.15s;
  --transition-duration-normal: 0.25s;
  --transition-duration-slow: 1s;
}
:root {
  --text-color: #c8d1d9;
  --bg-color: #0d1117;
  --side-bar-bg-color: #0d1117;
  --control-text-color: #a9aaab;
  --primary-color: #f9826c;
  --primary-btn-border-color: #f9826c;
  --active-file-text-color: inherit;
  --active-file-border-color: #f9826c;
  --active-file-bg-color: #0d1117;
  --primary-btn-text-color: #f9826c;
  --window-border: 0 solid #0d1117;
  --item-hover-bg-color: #161b22;
  --item-hover-text-color: #f9826c;
  --meta-content-color: #f9826c;
  --search-select-text-color: #f9826c;
  --control-text-color: var(--text-color);
  --control-text-hover-color: var(--text-color);
  --heading-char-color: #f9826c;
  --active-toggle-btn-color: #192133;
  --blur-text-color: rgba(200, 200, 200, 0.33);
  --rawblock-edit-panel-bd: var(--item-hover-bg-color) !important;
  --select-text-bg-color: rgba(53, 82, 116, 0.97) !important;
  --select-text-font-color: #fff !important;
  --color-border-secondary: #21262d !important;
  --mermaid-node-color: #b87f62 !important;
  --mermaid-node-border: #bd7958;
  --mermaid-contrast-color: #afe61d;
  --mermaid-theme: dark;
  --monospace: ui-monospace,
    Menlo, Monaco,
    "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono",
    "Oxygen Mono",
    "Ubuntu Monospace",
    "Source Code Pro",
    "Fira Mono",
    "Droid Sans Mono",
    "Courier New", monospace;
}
/**
  2.2 Theme Modes
 */
/**
  2.2.1 Dark Mode defaults
 */
.theme-dark {
  --background-primary: #282C34;
  --background-primary-alt: #21252B;
  --background-secondary: var(--color-black-hsl);
  --background-secondary-alt: var(--color-grey-00);
  --text-normal: var(--color-grey-06);
  --text-muted: var(--color-grey-05);
  --text-muted-rgb: 77, 70, 83;
  --text-faint: var(--color-grey-04);
  --text-on-accent: var(--text-normal);
  --scrollbar-hsl: var(--color-deep-purple-hsl);
  --text-strike: var(--color-black);
  --shadow-primary: var(--color-black-hsl);


}

/**
  2.2.2 Light Mode defaults
*/
.theme-light {
  --background-primary: var(--color-grey-10);
  --background-primary-alt: var(--color-grey-09);
  --background-secondary: var(--color-grey-08);
  --background-secondary-alt: var(--color-grey-07);
  --text-normal: var(--color-grey-04);
  --text-muted: var(--color-grey-05);
  --text-muted-rgb: 77, 70, 83;
  --text-faint: var(--color-grey-06);
  --text-on-accent: var(--text-faint);
  --scrollbar-hsl: var(--color-pale-purple-hsl);
  --text-strike: var(--color-grey-08);
  --shadow-primary: var(--color-grey-05);
}

.HyperMD-header .cm-header-1, .HyperMD-header .cm-header-2, .HyperMD-header .cm-header-3, .HyperMD-header .cm-header-4, .HyperMD-header .cm-header-5, .HyperMD-header .cm-header-6{
  color:white !important;
  font-style: bold!important;
  font-weight: 500 !important;
  font-family: ""XiaoHanZhuanshu"" !important;
}

.cm-s-obsidian .HyperMD-header-1 {
  font-size: calc(var(--editor-font-size) * 2);
  text-shadow: 0 -1px calc(var(--editor-font-size) / 16) var(--shadow-primary),
               0 -1px calc(var(--editor-font-size) / 16) var(--color-purple-4),
               0 -1px calc(var(--editor-font-size) / 8) var(--color-purple-4),
               0 -1px calc(var(--editor-font-size) / 8) var(--shadow-primary),
               0 -1px calc(var(--editor-font-size) / 4) var(--shadow-primary),
               0 -1px calc(var(--editor-font-size) / 2) var(--shadow-primary),
               0 -1px calc(var(--editor-font-size) / 1) var(--shadow-primary);
  color: var(--text-normal);
  -webkit-text-stroke-color: var(--color-purple-3);
  -webkit-text-stroke-width: 0.01px;
}
.cm-s-obsidian .HyperMD-header-1::before {
  content: '';
  background: linear-gradient(90deg, var(--color-purple-3), var(--color-purple-3) 25%, #00000000 75%);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 20px;
  height: calc(var(--editor-font-size) * 2.75);
  /* top: calc(var(--editor-font-size) * -0.25); */
  position: absolute;
  width: calc(100% + .25rem);
  z-index: -1;
}
.cm-s-obsidian .HyperMD-header-2 {
  font-size: calc(var(--editor-font-size) * 1.8);
  text-shadow: 0 -1px calc(var(--editor-font-size) / 16) var(--shadow-primary),
               0 -1px calc(var(--editor-font-size) / 16) var(--color-red-pink),
               0 -1px calc(var(--editor-font-size) / 8) var(--color-red-pink),
               0 -1px calc(var(--editor-font-size) / 8) var(--shadow-primary),
               0 -1px calc(var(--editor-font-size) / 4) var(--shadow-primary),
               0 -1px calc(var(--editor-font-size) / 2) var(--shadow-primary),
               0 -1px calc(var(--editor-font-size) / 1) var(--shadow-primary);
  color: var(--text-normal);
  font-weight: 800 !important;
  -webkit-text-stroke-color: var(--color-hot-pink);
  -webkit-text-stroke-width: 0.01px;
}
.cm-s-obsidian .HyperMD-header-2::before {
  content: '';
  background: linear-gradient(90deg, var(--color-hot-pink), var(--color-hot-pink) 25%, #00000000 75%);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 20px;
  height: calc(var(--editor-font-size) * 2.5);
  position: absolute;
  /* top: calc(var(--editor-font-size) * -0.25); */
  width: calc(100% + .25rem);
  color:black;
  z-index: -1;
}
.cm-s-obsidian .HyperMD-header-3 {
  font-size: calc(var(--editor-font-size) * 1.6);
  text-shadow: 0 -1px calc(var(--editor-font-size) / 16) var(--shadow-primary),
               0 -1px calc(var(--editor-font-size) / 16) var(--color-magic-gold),
               0 -1px calc(var(--editor-font-size) / 8) var(--color-magic-gold),
               0 -1px calc(var(--editor-font-size) / 8) var(--shadow-primary),
               0 -1px calc(var(--editor-font-size) / 4) var(--shadow-primary),
               0 -1px calc(var(--editor-font-size) / 2) var(--shadow-primary),
               0 -1px calc(var(--editor-font-size) / 1) var(--shadow-primary);
  color: var(--text-normal);
  -webkit-text-stroke-color: var(--color-shadowy-gold);
  -webkit-text-stroke-width: 0.01px;
}
.cm-s-obsidian .HyperMD-header-3::before {
  content: '';
  background: linear-gradient(90deg, var(--color-shadowy-gold), var(--color-shadowy-gold) 25%, #00000000 75%);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 20px;
  height: calc(var(--editor-font-size) * 2.3);
  position: absolute;
  /* top: calc(var(--editor-font-size) * 0); */
  width: calc(100% + .25rem);
  z-index: -1;
}
.cm-s-obsidian .HyperMD-header-4 {
  font-size: calc(var(--editor-font-size) * 1.4);
  text-shadow: 0 -1px calc(var(--editor-font-size) / 16) var(--shadow-primary),
               0 -1px calc(var(--editor-font-size) / 16) var(--color-green),
               0 -1px calc(var(--editor-font-size) / 8) var(--color-green),
               0 -1px calc(var(--editor-font-size) / 8) var(--shadow-primary),
               0 -1px calc(var(--editor-font-size) / 4) var(--shadow-primary),
               0 -1px calc(var(--editor-font-size) / 2) var(--shadow-primary),
               0 -1px calc(var(--editor-font-size) / 1) var(--shadow-primary);
  color: var(--text-normal);
  -webkit-text-stroke-color: var(--color-green);
  -webkit-text-stroke-width: 0.01px;
}
.cm-s-obsidian .HyperMD-header-4::before {
  content: '';
  background: linear-gradient(90deg, var(--color-green), var(--color-green) 25%, #00000000 75%);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 20px;
  height: calc(var(--editor-font-size) * 2.15);
  position: absolute;
  /* top: calc(var(--editor-font-size) / 7.5); */
  width: calc(100% + .25rem);
  z-index: -1;
}
.cm-s-obsidian .HyperMD-header-5 {
  font-size: calc(var(--editor-font-size) * 1.3);
  text-shadow: 0 -1px calc(var(--editor-font-size) / 16) var(--shadow-primary),
               0 -1px calc(var(--editor-font-size) / 16) var(--color-teal),
               0 -1px calc(var(--editor-font-size) / 8) var(--color-teal),
               0 -1px calc(var(--editor-font-size) / 8) var(--shadow-primary),
               0 -1px calc(var(--editor-font-size) / 4) var(--shadow-primary),
               0 -1px calc(var(--editor-font-size) / 2) var(--shadow-primary),
               0 -1px calc(var(--editor-font-size) / 1) var(--shadow-primary);
  color: var(--text-normal);
  -webkit-text-stroke-color: var(--color-teal);
  -webkit-text-stroke-width: 0.01px;
}
.cm-s-obsidian .HyperMD-header-5::before {
  content: '';
  background: linear-gradient(90deg, var(--color-teal), var(--color-teal) 25%, #00000000 75%);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 20px;
  height: calc(var(--editor-font-size) * 1.95);
  position: absolute;
  width: calc(100% + .25rem);
  /* top: calc(var(--editor-font-size) / 7.5); */
  z-index: -1;
}
.cm-s-obsidian .HyperMD-header-6 {
  font-size: calc(var(--editor-font-size) * 1.2);
  text-shadow: 0 -1px calc(var(--editor-font-size) / 16) var(--shadow-primary),
               0 -1px calc(var(--editor-font-size) / 16) var(--color-cyan),
               0 -1px calc(var(--editor-font-size) / 8) var(--color-cyan),
               0 -1px calc(var(--editor-font-size) / 8) var(--shadow-primary),
               0 -1px calc(var(--editor-font-size) / 4) var(--shadow-primary),
               0 -1px calc(var(--editor-font-size) / 2) var(--shadow-primary),
               0 -1px calc(var(--editor-font-size) / 1) var(--shadow-primary);
  color: var(--text-normal);
  -webkit-text-stroke-color: var(--color-cyan-desat);
  -webkit-text-stroke-width: 0.01px;
}
.cm-s-obsidian .HyperMD-header-6::before {
  content: '';
  background: linear-gradient(90deg, var(--color-cyan-desat), var(--color-cyan-desat) 25%, #00000000 75%);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 20px;
  height: calc(var(--editor-font-size) * 1.8);
  position: absolute;
  width: calc(100% + .25rem);
  /* top: calc(var(--editor-font-size) / 9); */
  z-index: -1;
}
.cm-s-obsidian .cm-formatting-header {
  font-size: 1rem;
}

/* Comments */
.markdown-source-view.mod-cm6 .cm-comment,
.cm-s-obsidian span.cm-comment {
  color: var(--text-muted);
}
