.markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer,
.markdown-source-view ol > li,
.markdown-source-view ul > li,
.markdown-preview-view ol > li,
.markdown-preview-view ul > li,
.markdown-rendered ul > li,
.mod-cm6 .HyperMD-list-line.cm-line,
.CodeMirror-hscrollbar,
.markdown-source-view.mod-cm6 .cm-scroller,
.ͼ1.cm-editor,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock,
.markdown-source-view.mod-cm6.is-readable-line-width .cm-line,
.cm-line,
.cm-contentContainer,
.markdown-rendered,
.markdown-source-view.mod-cm6.is-readable-line-width .cm-content,
.markdown-preview-view.is-readable-line-width .markdown-preview-section {
  max-width: unset !important;
}
.cm-lineNumbers {
  padding: 0 15px 0 0 !important;
}
.ͼ1 .cm-scroller {
  overflow-x: hidden !important;
}
.cm-scroller {
  padding-left: unset !important;
}
.view-header {
  margin: auto !important;
  height: auto !important;
  border: unset !important;
}
.workspace-tab-header-container {
  height: auto !important;
}
.mod-linux .titlebar-button-container,
.mod-windows .titlebar-button-container {
  height: 50% !important;
}
.view-header-title-container {
  overflow: auto !important;
  /*  position: static !important;*/
}
.view-header-title {
  font-size: 28px !important;
  background-color: #d95757 !important;
  color: black !important;
  border-radius: 10px !important;
}
.view-header-title-container:not(.mod-at-end):after {
  width: auto !important;
}
/*.mod-top-left-space{
  flex-grow: 80 !important;
}
.mod-top-right-space{
  flex-grow: 20 !important;
}*/

.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
  /*  padding:unset !important;*/
}

.view-header .view-header-icon,
.view-header-nav-buttons,
.view-header-title-parent,
.inline-title {
  display: none !important;
}

body:not(.native-scrollbars) ::-webkit-scrollbar-thumb {
}
.markdown-source-view.mod-cm6 .cm-gutters {
  padding: unset !important;
}

.mod-left-split .workspace-tab-header-container-inner,
.mod-right-split .workspace-tab-header-container-inner,
.nav-files-container,
.nav-header {
  margin: unset !important;
  padding: unset !important;
}
.tree-item,
.nav-file-title,
.nav-folder-title {
  border: unset !important;
}
.nav-file-title,
.nav-folder-title {
  padding: unset !important;
  padding-left: 10px !important;
}

.outliner-plugin-list-lines-scroller {
  padding: unset !important;
}

.workspace-leaf-content img:not([width]),
.workspace-leaf-content audio,
.workspace-leaf-content video {
  max-width: 80% !important;
}
img:not(.emoji) {
  display: unset !important;
}
.markdown-source-view.mod-cm6 .cm-scroller {
  align-items: unset !important;
}

.markdown-preview-view.is-readable-line-width .markdown-preview-section,
.cm-sizer {
  margin: unset !important;
}
.markdown-preview-view,
.mod-single-child .markdown-preview-view {
  padding: unset !important;
  padding-left: 12px !important;
}
/*.markdown-source-view.mod-cm6 ,*/
.cm-scroller {
  padding: unset !important;
  /*  padding-left: 32px !important;*/
}

/* get more snippets at https://github.com/kmaasrud/awesome-obsidian */
/* author: https://github.com/TClark1011 */
/* source: https://github.com/kmaasrud/awesome-obsidian */

img {
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: var(
    --background-secondary
  ); /* Background color so PNGs with transparent backgrounds don't look weird */
}

/* get more snippets at https://github.com/kmaasrud/awesome-obsidian */
/* author: https://forum.obsidian.md/u/den/summary */
/* source: https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/29 */

.markdown-preview-view img {
  display: block;
  margin-top: 20pt;
  margin-bottom: 20pt;
  margin-left: auto;
  margin-right: auto;
  width: 50%; /* experiment with values */
  transition: transform 0.25s ease;
}

.markdown-preview-view img:hover {
  -webkit-transform: scale(1.8); /* experiment with values */
  transform: scale(2);
}

/*nicer checkbox  =========================*/

/* get more snippets at https://github.com/kmaasrud/awesome-obsidian */
/* author: https://forum.obsidian.md/u/kepano/summary, https://forum.obsidian.md/u/rsdimitrov */
/* source: https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/34 */

/* Round checkbxes in preview and editor */
input[type="checkbox"],
.cm-formatting-task {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 1px solid var(--text-faint);
  padding: 0;
  vertical-align: middle;
}

.cm-s-obsidian span.cm-formatting-task {
  color: transparent;
  width: 1.25em !important;
  height: 1.25em;
  display: inline-block;
}

input[type="checkbox"]:focus {
  outline: 0;
}
input[type="checkbox"]:checked,
.cm-formatting-task.cm-property {
  background-color: var(--text-accent-hover);
  border: 1px solid var(--text-accent-hover);
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml; utf8, <svg width="12px" height="10px" viewBox="0 0 12 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-4.000000, -6.000000)" fill="%23ffffff"><path d="M8.1043257,14.0367999 L4.52468714,10.5420499 C4.32525014,10.3497722 4.32525014,10.0368095 4.52468714,9.8424863 L5.24777413,9.1439454 C5.44721114,8.95166768 5.77142411,8.95166768 5.97086112,9.1439454 L8.46638057,11.5903727 L14.0291389,6.1442083 C14.2285759,5.95193057 14.5527889,5.95193057 14.7522259,6.1442083 L15.4753129,6.84377194 C15.6747499,7.03604967 15.6747499,7.35003511 15.4753129,7.54129009 L8.82741268,14.0367999 C8.62797568,14.2290777 8.3037627,14.2290777 8.1043257,14.0367999"></path></g></g></svg>');
}
/*nicer checkbox  =========================*/

/* smaller scrollbar */
.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar,
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: gray !important;
}
/* get more snippets at https://github.com/kmaasrud/awesome-obsidian */
/* author: https://forum.obsidian.md/u/Thery/summary */
/* source: https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/39 */

blockquote:before {
  font: 14px/20px italic Times, serif;
  content: "“";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
/* Remove blockquote left margin */
blockquote {
  margin-inline-start: 0;
}

/* subtler-folding-gutter-arrows.css========================*/
/* get more snippets at https://github.com/kmaasrud/awesome-obsidian */
/* author: https://forum.obsidian.md/u/rsdimitrov */
/* source: https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/10 */

/* Make subtler folding gutter arrows */
.CodeMirror-foldgutter-folded:after,
.CodeMirror-foldgutter-open:after {
  opacity: 0.5;
  font-size: 60%;
}

.CodeMirror-foldgutter-folded:hover:after,
.CodeMirror-foldgutter-open:hover:after {
  opacity: 1;
}

.CodeMirror-foldgutter-folded:after {
  content: "\25BA";
}

.CodeMirror-foldgutter-open:after {
  content: "\25BC";
}
/* Custom icons for specific folders */

/* https://forum.obsidian.md/t/add-emojis-to-folder-titles-in-explorer-without-renaming-folders/22702 */

div[data-path="_Inbox"] .nav-folder-title-content::before {
  content: "📥";
}
div[data-path="Attachments"] .nav-folder-title-content::before {
  content: "📋";
}
div[data-path="Bible Resources"] .nav-folder-title-content::before {
  content: "⚔️";
}
div[data-path="Notes"] .nav-folder-title-content::before {
  content: "📝";
}
div[data-path="Notes/Daily"] .nav-folder-title-content::before {
  content: "📆";
}

/*tag  ================*/
/* get more snippets at https://github.com/kmaasrud/awesome-obsidian */
/* author: https://forum.obsidian.md/u/uzerper */
/* source: https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/72 */

.tag:not(.token) {
  background-color: var(--text-accent);
  border: none;
  color: white;
  font-size: 11px;
  padding: 1px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 14px;
}
.tag:not(.token):hover {
  color: white;
  background-color: var(--text-accent-hover);
}
.tag[href^="#obsidian"] {
  background-color: #4d3ca6;
}
.tag[href^="#important"] {
  background-color: red;
}
.tag[href^="#complete"] {
  background-color: green;
}
.tag[href^="#inprogress"] {
  background-color: orange;
}

/* get more snippets at https://github.com/kmaasrud/awesome-obsidian */
/* author: https://github.com/deathau */
/* source: https://discord.com/channels/686053708261228577/702656734631821413/755293685046050896 */

/* Emoji */
.nav-file-title-content::before {
  content: "📄 ";
}
.nav-folder-title-content::before {
  content: "📁 ";
}

/* Flat font */
/* Requires: https://icomoon.io/#icons-icomoon/liga-font */

.nav-folder-children .nav-file-title-content:first-child::before {
  content: "📄 ";
  font-family: "IcoMoon-Free";
}
.nav-folder-children .nav-folder-title-content::before {
  content: "📁 ";
  font-family: "IcoMoon-Free";
}
/*.cm-active.HyperMD-codeblock-begin{
  color: rgb(235, 61, 131) !important;
  border-bottom:.1px solid #e472b3;
}
.cm-active.HyperMD-codeblock-end {
  color: rgb(235, 61, 131) !important;
  border-top:.1px solid #e472b3;
}*/



.cm-line.HyperMD-codeblock-begin-bg::before {
  background-color: #fc625d;
  border-radius: 50%;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  content: " ";
  height: 12px!important;
  left: 12px !important;
  margin-top: 5px;
  position: absolute;
  width: 12px!important;
}
.cm-line.HyperMD-codeblock-begin-bg::after {
  display: none !important;
}
div.cm-active>span.cm-formatting-code-block{
  margin-left:55px ;
}
.file-node-collapsed > .file-node-content .fa-caret-right,
.fa-folder {
  color: #f1a168 !important;
}
.cm-hmd-codeblock {
  font-family: "FantasqueSansMono Nerd Font" !important;
  font-size: 15px !important;
}


/*更好看的检查框*/
/* 作者: https://forum.obsidian.md/u/kepano/summary, https://forum.obsidian.md/u/rsdimitrov */
/* 来源: https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/34 */

/* Round checkbxes in preview and editor */
input[type="checkbox"],
.cm-formatting-task {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 1px solid var(--text-faint);
  padding: 0;
  vertical-align: middle;
}

.cm-s-obsidian span.cm-formatting-task {
  color: transparent;
  width: 1.25em !important;
  height: 1.25em;
  display: inline-block;
}

input[type="checkbox"]:focus {
  outline: 0;
}
input[type="checkbox"]:checked,
.cm-formatting-task.cm-property {
  background-color: var(--text-accent-hover);
  border: 1px solid var(--text-accent-hover);
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml; utf8, <svg width="12px" height="10px" viewBox="0 0 12 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-4.000000, -6.000000)" fill="%23ffffff"><path d="M8.1043257,14.0367999 L4.52468714,10.5420499 C4.32525014,10.3497722 4.32525014,10.0368095 4.52468714,9.8424863 L5.24777413,9.1439454 C5.44721114,8.95166768 5.77142411,8.95166768 5.97086112,9.1439454 L8.46638057,11.5903727 L14.0291389,6.1442083 C14.2285759,5.95193057 14.5527889,5.95193057 14.7522259,6.1442083 L15.4753129,6.84377194 C15.6747499,7.03604967 15.6747499,7.35003511 15.4753129,7.54129009 L8.82741268,14.0367999 C8.62797568,14.2290777 8.3037627,14.2290777 8.1043257,14.0367999"></path></g></g></svg>');
}

.markdown-source-view.mod-cm6 .task-list-item-checkbox{
  top:.2em !important;
  border: 1.5px solid hsl(37deg 7.91% 49.47%) !important;
  border-radius:25px !important;
  width: 25px !important;
  height:25px !important;
}


/*文件夹图标  根据名字进行不同的图标*/
div[data-path="Attachments"] .nav-folder-title-content::before
{
  content: "\1f600";
}

div[data-path="Resources"] .nav-folder-title-content::before
{
  content: "\1f33a";
}

div[data-path="Notes"] .nav-folder-title-content::before
{
  content: "\1f4cb";
}

div[data-path="Daily"] .nav-folder-title-content::before
{
  content: "\1f5d3";
}